$color-primary: #171717;
$color-secondary: #f2d94e;
$color-white: #ffffff;
$color-grey: #d2d2d2;
$color-lightGrey: #a7a7a7;

$box-shadow: 0 9px 8px rgba(0, 0, 0, 0.16);
$box-elevate: 0 1px 6px 0 rgb(32 33 36 / 28%);

$font-lg: 1.0625rem;
$font-sm: 0.75rem;
$font-med: 1rem;
$font-xs: 0.625rem;
